* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.site,
body, html {
    overflow: unset;
}

.woocommerce-MyAccount-content .woocommerce-customer-details,
.woocommerce-MyAccount-content > p,
.woocommerce-MyAccount-navigation-link--downloads,
.woocommerce-order-received .entry-header,
.woocommerce-order-received .storefront-breadcrumb,
.woocommerce-cart .woocommerce-shipping-totals,
.woocommerce-form-login__rememberme,
.woocommerce-additional-fields > h3,
.storefront-product-pagination,
.storefront-sticky-add-to-cart,
.single .entry-taxonomy,
.single #post-navigation,
.single .entry-content,
.single .entry-title,
.home .entry-content,
.home .entry-header,
.post > .entry-header > span,
.storefront-handheld-footer-bar,
.widget-area,
.site-info,
.site-header {
    display: none !important;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .widget a.button:hover {
    background-color: inherit;
    border-color: inherit;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a,
button {
    border: none;
    outline: none;
    transition: .2s all;
    cursor: pointer;
}

a {
    outline: none !important;
    color: inherit;
    text-decoration: none !important;
}

ul {
    list-style-type: none;
}

.d-mobile {
    display: none !important;
}

.container {
    padding: 20px 0 5px;
}

.woocommerce-account .entry-content,
.woocommerce-checkout .entry-content,
.cart-collaterals,
.shop_table,
.storefront-breadcrumb,
.entry-header,
.w {
    width: 100%;
    max-width: 1366px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: auto;
}

.topBar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #D8D8D8;
    background: #fff;
    z-index: 15;
}

.topBar::after,
.topBar::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10vw;
    height: 100%;
    width: 12vw;
    background: #fff;
    z-index: -1;
}

.topBar::after {
    content: "";
    left: unset;
    right: -10vw;
    width: 12vw;
    background: #fff;
    z-index: -1;
}

.topBar__right {
    justify-content: flex-end;
}

.topBar__link {
    justify-content: flex-start;
}

.topBar__link .icon {
    margin-right: 10px;
}

.icon {
    width: 15px;
}

.topBar__link--mail {
    font-size: 14px;
}

.topBar__right .topBar__link:first-of-type {
    margin-right: 40px;
}

.topBar__link:hover {
    opacity: .8;
}

.topHeader {
    margin-top: 80px;
    z-index: 4;
    position: relative;
}

.topHeader__logoWrapper {
    width: 293px;
}

.topHeader__logoWrapper .img {
    transform-origin: center;
    transition: .2s all;
}

.topHeader__logoWrapper:hover .img {
    transform: scale(1.02);
}

.topHeader__search {
    width: 350px;
    position: relative;
}

.topHeader__search::after {
    content: url("img/search.svg");
    width: 15px;
    height: auto;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.woocommerce-account input,
input:not(.woocommerce-cart input),
.input {
    outline: none !important;
    border: 2px solid #D8D8D8;
    padding: 5px 20px !important;
    background: transparent !important;
    margin-top: 5px;
    transition: .2s all;
}

.woocommerce-account input,
.woocommerce-checkout input {
    height: 40px;
    border-radius: 40px;
    border-width: 1px !important;
    box-shadow: none;
}

.woocommerce-account label,
.woocommerce-checkout textarea::placeholder,
.woocommerce-checkout input::placeholder {
    font-size: 13px;
}

.woocommerce-account .woocommerce {
    max-width: 1100px;
    height: 425px;
    margin: 40px auto 20px;
    -webkit-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
    padding: 30px;
    border-radius: 15px;
}

.woocommerce-account.logged-in .woocommerce {
    max-width: 100%;
    height: auto;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.woocommerce-MyAccount-navigation li a::before {
    color: #4B146D;
    opacity: .8 !important;
    transition: .2s all;
}

.woocommerce-form-row--wide span em {
    text-align: center;
    font-size: 12px;
    display: block;
}

.woocommerce-MyAccount-navigation li a:hover::before {
    opacity: 1 !important;
}

.woocommerce-account.logged-in .woocommerce > div {
    float: unset;
}

.woocommerce-ResetPassword > p {
    text-align: center;
    font-size: 15px;
}

.woocommerce-ResetPassword .form-row-first {
    width: 100%;
}

.woocommerce-lost-password .woocommerce {
    max-width: 500px;
    min-height: 300px;
    height: auto;
}

.woocommerce-account .woocommerce form {
    margin-bottom: 0;
}

.woocommerce-account .woocommerce .u-columns h2 {
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.woocommerce-account input:focus,
.input:focus {
    border-color: #5A257F !important;
}

.topHeader__search .input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding-right: 50px;
}

.topHeader__menu {
    margin-bottom: 0;
    width: calc(100% - 800px);
}

.topHeader__menu__item {
    position: relative;
}

.topHeader__menu__item__link {
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.icon--arrowDown {
    width: 12px;
    margin-left: 11px;
    transition: .3s all;
}

.topHeader__menu__item__link--dropdown:hover .icon--arrowDown {
    transform: rotateX(180deg);
}

.topHeader__menu__submenu {
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    border: 1px solid #D8D8D8;
    padding: 10px 30px;
    opacity: 0;
    margin-left: 0 !important;
    z-index: -1;
    transition: .2s all;
}

.topHeader__menu__item__link:hover .topHeader__menu__submenu {
    opacity: 1;
    z-index: 3;
}

.topHeader__menu__submenu::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    height: 40px;
    background: transparent;
    width: 100%;
}

.topHeader__menu__submenu__item__link {
    display: block;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #D8D8D8;
}

.topHeader__menu__submenu__item:last-of-type .topHeader__menu__submenu__item__link {
    border-bottom: none;
}

.topHeader__menu a:hover {
    opacity: .6;
}

.slider {
    margin-top: 40px;
    border-radius: 15px;
    position: relative;
    height: 425px;
}

.slider__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0;
    transition: .4s all;
}

.slider__item--0 {
    opacity: 1;
    z-index: 3;
}

.slider__controls {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10;
}

.slider__prev, .slider__next {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__prev .img {
    transform: rotateY(180deg);
}

.slider__controls .img  {
    width: 20px;
    height: auto;
}

.slider__controls > * {
    margin-right: 12px;
}

.slider__controls > *:hover {
    transform: scale(1.15);
    transform-origin: center center;
}

.slider__controls__item--dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #5A257F;
}

.slider__controls__item--dot--0 {
    background: #fff;
}

.section {
    margin: 40px auto;
}

.woocommerce-account .entry-title,
.woocommerce-checkout .entry-title,
.woocommerce-cart .entry-title,
.section__header {
    background: #5A257F;
    padding: 7px 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
    width: fit-content;
    width: -moz-max-content;
}

.product {
    width: 31%;
    padding: 25px;
    border: 1px solid #D8D8D8;
    border-radius: 15px;
}

.product:hover {
    border-color: rgba(90, 37, 127, .7);
}

.product > .flex {
    align-items: flex-start;
}

.product__imgWrapper {
    width: 200px;
    height: 220px;
    overflow: hidden;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}

.product__right {
    width: calc(100% - 220px);
}

.product__name {
    text-transform: uppercase;
    font-size: 16px;
}

.product__price {
    color: #5A257F;
    font-size: 24px;
    margin: 10px 0;
}

.product__desc {
    color: #747474;
    font-size: 14px;
}

.ajax_add_to_cart,
.product__addToCartBtn {
    border: 1px solid #5A257F;
    width: 100%;
    margin-top: 20px;
    height: 35px;
    border-radius: 35px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    color: #000 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ajax_add_to_cart::after,
.product__addToCartBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: #5A257F;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top left;
    transition: .2s all;
}

.
.ajax_add_to_cart:hover::after,
.product__addToCartBtn:hover::after {
    transform: scaleX(1);
}


.ajax_add_to_cart:hover,
.product__addToCartBtn:hover {
    color: #fff;
}

.section {
    position: relative;
}

.section--bigImage {
    height: 360px;
    overflow: hidden;
    border-radius: 15px;
}

.bigImage {
    width: auto;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.bigImage .img {
    height: 100%;
    width: auto;
    min-width: 100%;
}

.bigImage__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bigImage__content * {
    color: #fff;
}

.bigImage__content > * {
    margin-left: 15%;
}

.bigImage__header {
    font-size: 36px;
}

.bigImage__subheader {
    font-size: 20px;
    margin: 20px 0 30px 15%;
    font-weight: 400;
    max-width: 382px;
}

.bigImage__btn {
    background: #5A257F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
}

.icon--next {
    margin-left: 10px;
    transition: .2s all;
}

.bigImage__btn:hover .icon--next {
    transform: translateX(8px);
}

.section__header--plain {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 25px;
}

.blog__imgWrapper {
    width: 100%;
    height: 225px;
    border-radius: 15px;
    overflow: hidden;
}

.blog__title {
    font-size: 16px;
    margin: 15px 0;
    text-transform: uppercase;
}

.blog__excerpt {
    color: #747474;
    font-size: 14px;
}

.product--blog .product__addToCartBtn .icon--next {
    filter: brightness(0);
}

.product--blog .product__addToCartBtn:hover .icon--next {
    filter: none;
}

.product--blog .product__addToCartBtn {
    height: 40px;
}

.icons__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons__item__imgWrapper {
    width: 150px;
    height: 150px;
    background: transparent;
    border: 1px solid #D8D8D8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons__item__imgWrapper .img {
    width: 40%;
    transform-origin: center;
    transition: .2s all;
}

.icons__item__imgWrapper:hover .img {
    transform: scale(1.05);
}

.icons__item__header {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 15px auto;
}

.icons__item__text {
    color: #747474;
    font-size: 14px;
    text-align: center;
    max-width: 125px;
}

.icons {
    margin: 40px auto;
}

.footer {
    padding: 25px 0 10px;
    border-top: 1px solid #D8D8D8;
}

.footer > .flex {
    align-items: flex-start;
}

.footer__bottom {
    border-top: 1px solid #D8D8D8;
    padding: 10px 0 0;
}

.footer__bottom__header {
    font-size: 12px;
    color: #747474;
    font-weight: 400;
    text-align: center;
}

.footer__col__text {
    color: #747474;
    font-size: 14px;
    margin: 20px 0;
}

.footer__col__logoWrapper {
    width: 160px;
    display: block;
}

.footer__col__logoWrapper .img {
    transition: .2s all;
    transform-origin: center;
}

.footer__col__logoWrapper:hover .img {
    transform: scale(1.03);
}

.footer__col__paymentMethods {
    width: 350px;
    height: auto;
    margin-bottom: 20px;
}

.footer__col__header {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.footer__col {
    flex-basis: 16%;
}

.footer__col:first-of-type {
    flex-basis: 24%;
    margin-right: 3%;
}

.footer__col__link {
    color: #747474 !important;
    font-size: 14px;
    margin: 5px 0;
    display: block;
}

.footer__bottom a:hover,
.footer__col__link:hover {
    opacity: .8;
}

.footer__col__text > span {
    display: block;
}

.footer__col__text--address {
    margin-top: 0;
}

.footer__col__header--socialMedia {
    margin-top: 50px;
}

.socialMedia {
    width: 20px;
    margin-right: 20px;
    opacity: .8;
}

.socialMedia:hover {
    opacity: 1;
}

.socialMediaWrapper {
    justify-content: flex-start;
}

.topHeader__menu__item__link--dropdown {
    justify-content: flex-start;
}

.col-full {
    max-width: 100% !important;
    padding: 0 !important;
}

#primary {
    margin-bottom: 0;
    width: 100% !important;
}

.slider__controls__item {
    padding: 0 !important;
}

.site-main {
    margin-bottom: 0;
}

.site-footer {
    background-color: transparent;
    padding-bottom: 0;
    padding-top: 0;
}

.single {
    position: relative;
    align-items: flex-start;
    margin-top: 10px;
}

.single__article {
    width: 70%;
}

.single__imgWrapper {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.single__aside {
    width: 27%;
    position: sticky;
    top: 90px;
    right: 0;
}

.single__title {
    transform: translateX(40px);
    color: #fff;
    font-size: 36px;
    margin: -80px auto 80px;
    font-weight: 700 !important;
}

.single__aside__header {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.single__aside__text {
    font-size: 14px;
    margin: 10px 0 15px;
    padding-bottom: 10px;
}

.single__aside__text:first-of-type {
    border-bottom: 1px solid #D9D9D9;
}

.single__aside__btn {
    width: 100%;
    height: 35px;
    font-size: 14px;
    border-radius: 6px;
    background: #5A257F;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 20px;
}

.single__aside__btn .icon {
    filter: brightness(0) invert(1);
    margin-left: 15px;
    transition: .2s all;
}

.single__aside__btn:hover .icon {
    transform: translateX(8px);
}

.single__aside__header:last-of-type {
    padding-top: 10px;
    border-top: 1px solid #D9D9D9;
}

.single__aside .footer__bottom__socialMedia {
    margin-top: 10px;
}

a.blog__articles__item {
    padding-bottom: 0 !important;
    display: block;
    margin-bottom: 10px;
    text-decoration: underline !important;
}

.footer__bottom__socialMedia {
    justify-content: flex-start;
}

.single .entry-header {
    border: none !important;
    margin: 0;
}

.single__blogSection {
    margin-top: 20px;
    padding-top: 31px;
    border-top: 1px solid #D8D8D8;
}

.single__blogSection__header {
    margin-bottom: 20px;
}

.product-template-default .product {
    border: none;
    border-radius: 0;
    padding: 0;
    width: 1366px;
    max-width: 90%;
    margin: auto;
}

.cart_totals {
    width: 40% !important;
    float: unset !important;
    margin-left: 100% !important;
    transform: translateX(-100%) !important;
}

#place_order,
.checkout-button {
    background-color: #5A257F !important;
    border-radius: 5px !important;
    margin-top: 20px;
}

#order_review_heading,
.woocommerce-billing-fields > h3,
.cart_totals > h2 {
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 20px;
}

#customer_details .col-1 {
    margin-bottom: 0;
}

.woocommerce-checkout textarea {
    border: 1px solid #D8D8D8;
    border-radius: 15px;
    background: transparent !important;
    box-shadow: none;
    outline: none !important;
    resize: none;
    margin-top: 5px;
}

.woocommerce-checkout label {
    font-size: 13px;
}

.woocommerce-checkout textarea,
.woocommerce-checkout input {
    transition: .2s all;
}

.woocommerce-checkout textarea:focus,
.woocommerce-checkout input:focus {
    border-color: #5A257F !important;
}

.shop_table {
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
}

.woocommerce-account.logged-in .woocommerce-MyAccount-content .shop_table {
    box-shadow: none;
    max-width: 100% !important;
}

.shop_table, .shop_table * {
    background: #fff !important;
    color: #000000;
}

.woocommerce-cart .shop_table tbody tr:last-of-type {
    display: none !important;
}

.shop_table tbody tr td {
    border-top: 1px solid #D8D8D8 !important;
}

.checkout-button::after {
    transition: .2s all;
}

.checkout-button:hover::after {
    transform: translateX(6px);
}

.shop_table .product-name a {
    font-weight: 700;
}

.cart-subtotal th,
.cart-subtotal td,
.shop_table thead th {
    color: grey;
    font-weight: 400;
}

.product-quantity input {
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    transition: .2s all;
}

.product-quantity input:focus {
    border-color: #5A257F;
}

.shop_table .product-remove a::before {
    content: '\f2ed' !important;
    opacity: .75;
    transition: .2s all;
}

.shop_table .product-remove a:hover::before {
    opacity: 1;
}

.cart-subtotal td span {
    color: #000;
    font-weight: 700;
}

.wc-proceed-to-checkout a {
    text-transform: uppercase;
    font-size: 21px !important;
}

.woocommerce-ResetPassword .woocommerce-Button,
.woocommerce-form-register__submit,
.woocommerce-form-login__submit {
    background: #5A257F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    text-transform: uppercase;
    border-radius: 5px;
}

.woocommerce-ResetPassword .woocommerce-Button:hover,
.woocommerce-form-register__submit:hover,
.woocommerce-form-login__submit:hover {
    background: #4B146D !important;
    color: #fff !important;
}

.woocommerce-LostPassword {
    text-decoration: underline;
    font-size: 13px;
    text-align: center;
    transition: .2s all;
}

.woocommerce-LostPassword:hover {
    opacity: .8;
}

.woocommerce-account .woocommerce-error * {
    font-size: 12px !important;
}

.woocommerce-error {
    border-left: none !important;
    border-radius: 5px;
    margin-bottom: 25px;
}

.woocommerce-account .woocommerce .u-columns > div:first-of-type {
    width: 50% !important;
    padding-right: 5%;
    border-right: 1px solid #D8D8D8;
}

.woocommerce-account .woocommerce .u-columns > div:last-of-type {
    width: 44% !important;
}

.woocommerce-privacy-policy-text p {
    text-align: center;
    font-size: 13px;
}

.woocommerce-password-strength {
    text-align: center !important;
}

.woocommerce-password-hint {
    display: block;
    text-align: center;
}

.ty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 70px;
}

.ty__image {
    max-width: 250px;
}

.ty__header {
    text-align: center;
    margin: 30px auto 15px;
}

.ty__subheader {
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.ty__btn {
    background: #5A257F;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .2s all;
}

.ty__btn:hover {
    background: #4B146D;
}

.woocommerce-EditAccountForm fieldset {
    background: transparent;
    margin-top: 50px;
    padding-left: 0;
}

.woocommerce-order-details > h2,
.woocommerce-account.logged-in form h3,
.woocommerce-EditAccountForm fieldset legend {
    text-transform: uppercase;
    background: transparent;
    color: #000;
    display: block;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #d8d8d8;
}

.woocommerce-order-details > h2,
.woocommerce-account.logged-in form h3 {
    border-top: none;
    font-size: 17px;
    padding-top: 0;
    padding-bottom: 20px;
}

.woocommerce-account.logged-in .woocommerce-orders-table__row td a {
    padding-left: 0 !important;
}

.woocommerce-order-details > h2 {
    padding-bottom: 5px;
}

.woocommerce-order-details th {
    padding-bottom: 5px;
}

.woocommerce-account.logged-in button[type=submit],
.woocommerce-account.logged-in .woocommerce-Button {
    background: #5A257F;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .2s all;
}

.woocommerce-account.logged-in .woocommerce-Button:hover {
    background: #4B146D;
}

.woocommerce-Address-title > h3 {
    background: #5A257F;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 20px;
}

address {
    font-style: normal;
    padding-left: 25px;
    border-left: 5px solid #5a257f;
}

.dashboard {
    margin-top: 90px;
}

.dashboard__header {
    font-size: 24px;
    text-align: center;
}

.dashboard__subheader {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    border-top: none;
}

@media(max-width: 1600px) {
    .woocommerce-account .entry-content,
    .woocommerce-checkout .entry-content,
    .cart-collaterals,
    .storefront-breadcrumb,
    .shop_table,
    .entry-header,
    .w {
        max-width: 90%;
    }

    .slider__controls {
        bottom: unset;
        top: 24vw;
    }

    .slider {
        height: 28vw;
    }

    .product {
        width: 32%;
    }
}

@media(max-width: 1400px) {
    .blog__bottom__imgWrapper {
        position: relative;
        top: unset;
        left: unset;
        margin: 20px auto;
        width: 48%;
    }

    .blog__bottom__article {
        width: 50%;
        transform: none;
    }

    .blog__bottom__article__text {
        font-size: 14px;
    }

    .single__title {
        font-size: 28px;
    }

    .hero__menu {
        width: 45%;
    }

    .topHeader__logoWrapper {
        width: 180px;
    }

    .topHeader__search {
        width: 300px;
    }

    .topHeader__search .input {
        height: 40px;
        border-radius: 40px;
    }

    .topHeader__menu {
        width: calc(100% - 600px);
    }

    .topHeader__menu__item__link {
        font-size: 14px;
    }

    .product__imgWrapper {
        width: 150px;
        height: 160px;
    }

    .product__right {
        width: calc(100% - 170px);
    }

    .bigImage__header {
        font-size: 24px;
    }

    .bigImage__subheader {
        font-size: 17px;
    }

    .bigImage__btn {
        font-size: 15px;
    }

    .icons__item__imgWrapper {
        width: 100px;
        height: 100px;
    }

    .icons__item__header {
        font-size: 17px;
    }
}

@media(max-width: 1200px) {
    .topBar__link {
        font-size: 14px;
    }

    .topHeader__menu {
        width: calc(100% - 550px);
    }

    .slider__controls {
        top: 23vw;
    }

    .slider__prev, .slider__next {
        width: 20px;
        height: 20px;
    }

    .slider__prev .img, .slider__next .img {
        width: 12px;
        height: 12px;
    }

    .slider__controls__item--dot {
        width: 12px;
        height: 12px;
    }

    .section .product:last-of-type {
        display: none;
    }

    .blog__articles .product,
    .section .product {
        width: 48%;
    }

    .bigImage__content {
        width: 75%;
    }

    .bigImage__subheader {
        width: 60%;
    }

    .footer__col:first-of-type {
        flex-basis: 100%;
    }

    .footer__col:nth-of-type(2),
    .footer__col:nth-of-type(3),
    .footer__col:nth-of-type(4),
    .footer__col:last-of-type {
        flex-basis: 48%;
    }

    .footer__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }

    .footer__col__text {
        text-align: center;
    }

    .section--bigImage {
        height: 300px;
    }
}

@media (max-width: 66.4989378333em) {
    .col-full {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.woocommerce table.cart td.product-quantity .qib-container:not(#qib_id):not(#qib_id) {
    justify-content: flex-start !important;
}

@media(max-width: 996px) {
    .cart_totals {
        width: 100% !important;
    }

    .woocommerce-table--order-details th,
    .woocommerce-table--order-details td,
    .woocommerce-orders-table__row > td {
        padding-right: 0;
        padding-left: 0;
    }

    .dashboard {
        margin-top: 10px;
    }

    .dashboard__header {
        font-size: 21px !important;
    }

    .dashboard__subheader {
        font-size: 14px !important;
    }

    .woocommerce-account.logged-in .woocommerce {
        flex-wrap: wrap;
    }

    .woocommerce-account.logged-in fieldset {
        padding-right: 0 !important;
        margin-bottom: -20px !important;
    }

    .woocommerce-account.logged-in fieldset legend {
        margin-left: 0;
        padding-left: 0;
    }

    .woocommerce-MyAccount-navigation {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .woocommerce-MyAccount-navigation,
    .woocommerce-MyAccount-content {
        width: 100% !important;
    }

    .wc-proceed-to-checkout a {
        font-size: 19px !important;
    }

    .cart_totals .shop_table {
        max-width: 100% !important;
    }

    .topHeader__search {
        display: none;
    }

    .topHeader__menu {
        width: calc(100% - 300px);
    }

    .section .product:last-of-type {
        display: block;
    }

    .blog__articles .product,
    .section .product {
        width: 100%;
        margin-bottom: 25px;
    }

    .icons__item {
        width: 48%;
        margin-bottom: 30px;
    }

    .blog__btn {
        font-size: 14px;
        height: 50px;
        margin-top: 10px;
    }

    .blog__articles__item__readMoreBtn,
    .blog__articles__item__excerpt {
        font-size: 14px;
    }

    .single__aside {
        display: none;
    }

    .single__article {
        width: 100% !important;
        max-width: 100% !important;
    }

    .single__blogSection,
    .single, .single__imgWrapper {
        max-width: 100%;
        width: 100%;
    }
}

@media(max-width: 776px) {
    .d-desktop {
        display: none !important;
    }

    .d-mobile {
        display: block !important;
    }

    .ty {
        margin-bottom: 50px;
    }

    .ty__image {
        width: 140px;
    }

    .ty__header {
        font-size: 24px;
    }

    .ty__subheader {
        font-size: 15px;
    }

    .woocommerce-account .woocommerce {
        box-shadow: none;
        padding: 0;
    }

    html .woocommerce-account .woocommerce .u-columns > div:first-of-type
    {
        border-right: none;
        padding-right: 0 !important;
    }

    html .woocommerce-account .woocommerce .u-columns > div:first-of-type,
    html .woocommerce-account .woocommerce .u-columns > div:last-of-type {
        width: 100% !important;
    }

    .woocommerce-account .woocommerce .u-columns > div:last-of-type {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #d8d8d8;
    }

    .woocommerce-account .woocommerce {
        height: auto;
    }

    .woocommerce-account .woocommerce {
        margin-top: 0;
    }

    .woocommerce-account .entry-header {
        margin-top: 100px;
    }

    .wc-proceed-to-checkout a {
        font-size: 15px !important;
    }

    .shop_table {
        margin-bottom: 10px !important;
    }

    .cart_totals > h2 {
        text-align: center;
        font-size: 15px;
    }

    .shop_table {
        box-shadow: none;
        overflow: visible !important;
    }

    .cart_totals .shop_table {
        -webkit-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
    }

    .shop_table tbody tr td:first-of-type {
        border-top: none !important;
    }

    .woocommerce-cart-form__cart-item {
        display: block;
        -webkit-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 10px -7px rgba(66, 68, 90, 1);
        margin-bottom: 35px;
    }

    .woocommerce-cart-form__cart-item .product-thumbnail {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .woocommerce-cart-form__cart-item .product-subtotal {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .woocommerce-cart-form__cart-item td:not(.product-remove) {
        padding: 10px 15px !important;
    }

    .woocommerce-cart-form__cart-item td::before {
        font-weight: 400 !important;
        color: grey;
    }

    .woocommerce-cart-form__cart-item td {
        font-size: 14px !important;
    }

    .product-remove a::before {
        display: flex !important;
        justify-content: center;
        align-items: center;
        font-size: 15px !important;
    }

    .woocommerce-cart-form__cart-item .product-remove a {
        border-radius: 50%;
        border: 1px solid #d8d8d8 !important;
        padding: 10px;
        font-size: 1.8em !important;
    }

    .woocommerce-cart-form {
        margin-top: 15px;
    }

    .woocommerce-order-received .ty {
        margin-top: 150px;
    }

    .woocommerce-cart .entry-header {
        margin-top: 100px;
    }

    .icons__item {
        width: 100%;
    }

    .section__header--plain {
        text-align: center;
    }

    .topBar--mobile {
        width: 100%;
        padding: 20px 5%;
        border-bottom: none;
        z-index: 15;
    }

    .topBar__btn {
        padding: 0;
        background: transparent;
        width: 25px;
    }

    .topBar--mobile__header {
        width: 100%;
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        padding: 10px 0;
        margin-top: 15px;
    }

    .slider {
        margin-top: 130px;
    }

    .topBar__logoWrapper {
        width: 144px;
    }

    .woocommerce-account .entry-title,
    .woocommerce-cart .entry-title,
    .section__header {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .section--bigImage {
        height: 180px;
    }

    .bigImage__content {
        width: 100%;
        align-items: center;
    }

    .bigImage__content > * {
        margin-left: 0;
    }

    .bigImage__subheader {
        text-align: center;
        font-size: 12px;
        margin: 10px 0 18px;
    }

    .bigImage__btn {
        font-size: 12px;
        width: 220px;
        height: 35px;
    }

    .bigImage__header {
        font-size: 14px;
    }

    .mobileMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 100;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scaleX(0);
        transform-origin: top left;
    }

    .mobileMenu, .mobileMenu > * {
        transition: .3s all;
        font-size: 15px;
    }

    .mobileMenu > * {
        opacity: 0;
    }

    .mobileMenu__logoWrapper {
        width: 190px;
        margin-bottom: 50px;
        margin-top: -10vh;
        display: block;
    }

    .closeBtn {
        padding: 0;
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
        outline: none;
        width: 20px;
        height: auto;
    }

    .mobileMenu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0 !important;
    }

    .mobileMenu__list .topHeader__menu__submenu {
        visibility: visible;
        opacity: 1;
        z-index: 3;
        border: none;
        position: relative;
        top: unset;
        left: unset;
        padding: 0;
    }

    .mobileMenu__list,
    .mobileMenu__list li {
        width: 100%;
        text-align: center;
    }

    .mobileMenu .topHeader__menu__item:first-of-type {
        padding: 0;
    }

    .mobileMenu__list .topHeader__menu__item {
        padding: 10px 0;
        border-bottom: 1px solid #D8D8D8;
    }

    .mobileMenu__list .topHeader__menu__item__link {
        font-weight: 400;
        text-transform: none;
    }

    .mobileMenu__list .topHeader__menu__submenu__item__link {
        text-transform: none;
    }

    .mobileMenu__header {
        display: block;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #D8D8D8;
        border-top: 1px solid #D8D8D8;
    }

    .mobileMenu a {
        font-size: 15px;
    }

    .topHeader__menu__submenu::before {
        display: none;
    }

    .single__title {
        font-size: 17px !important;
        transform: translateX(-10px) !important;
        margin: -46px auto 40px !important;
    }

    .single__imgWrapper {
        margin-top: 60px;
    }
}

@media(max-width: 568px) {
    .col-full {
        margin-left: 0;
        margin-right: 0;
    }

    .footer .footer__col {
        flex-basis: 100%;
        margin-bottom: 25px;
    }

    .socialMedia:last-of-type {
        margin-right: 0;
    }

    .footer__col__paymentMethods {
        max-width: 90%;
    }

    .footer__col__header {
        font-size: 15px;
    }

    .footer__col__header--socialMedia {
        margin-top: 0;
    }

    .footer__col__link {
        margin: 3px 0;
    }

    .product__imgWrapper {
        width: 100px;
        height: 125px;
    }

    .product__right {
        width: calc(100% - 120px);
    }

    .blog__title,
    .product__name {
        font-size: 14px;
    }

    .product__price {
        font-size: 17px;
        margin: 5px 0;
    }

    .product--blog .product__addToCartBtn {
        height: 35px;
    }

    .blog__excerpt,
    .product__desc {
        font-size: 12px;
    }

    .blog__title {
        margin: 8px 0;
    }

    .ajax_add_to_cart,
    .product__addToCartBtn {
        font-size: 14px;
    }

    .blog__imgWrapper {
        height: auto;
        margin-bottom: 10px;
    }

    .single__imgWrapper {
        border-radius: 0 !important;
    }

    .single__blogSection,
    .single__article {
        max-width: 90%;
        margin: auto;
    }

    .single__content p {
        font-size: 14px;
    }

    .single__content {
        width: 90%;
        margin: auto;
    }
}
